@import
url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');
@import 
url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,table,tr,th,td,form,fieldset,legend,input,label,textarea,select,button{margin:0; padding:0;}
body,h1,h2,h3,h4,h5,h6 {font-size:12px; font-family: 'Noto Sans KR', sans-serif; color:#333;}
a {text-decoration:none; color:#333;}
img, fieldset {border:none; vertical-align: middle;}
ul,ol,li {list-style: none;}
strong,em,address {font-weight:normal; font-style:normal;}
table {border-collapse:collapse;}

.clearfix:after { /*날아갈경우 높이 지정*/
    content:"";
    display:block;
    clear:both;
}
#content .comlete{
    /* display: none; */
}

html, body {
    background-color: #bcbcbd;
	height: 100%;
}
/*siderbar*/
#sidebar {
    float: left;
    background-color: #3a383f;
    position: relative;
    height: 100%;
}
/*section01*/
#section01 {
    position: absolute;
    top: 60px;
    padding-left: 30px;
    margin-bottom: 30px;
}
#section01 input {
    display: inline-block;
    background: url("../image/search.png") no-repeat;
    height: 30px;
    border-radius: 7px;
    text-indent: 2em;
    font-size: 18px;
    font-weight: 600;
    color: #85838a;
    cursor: pointer;
    margin-bottom: 30px;
    outline: 0;
}
#section01 .main_menu li {
    float: left;
    position: relative;
    background-color: #4c4b50;
    border-radius: 17px;
    padding: 16px;
    height: 74px;
    margin: 0 15px 15px 0;
}
#section01 .main_menu li img {
    width: 24px;
    height: 24px;
}
#section01 .main_menu li span {
    display: block;
    width: 40px;
    height: 40px;
    background-color: #ff453b;
    text-align: center;
    line-height: 32px;
    border-radius: 50%;
    margin-bottom: 8px;
}
#section01 .main_menu li .list01 {
    background-color: #0380ee;
}
#section01 .main_menu li .list02 {
    background-color: #fda131;
}
#section01 .main_menu li .list03 {
    background-color: #59636c;
}
#section01 .main_menu li p {
    position: absolute;
    right: 16px;
    top: 10px;
    font-size: 36px;
    font-weight: 600;
}
#section01 .main_menu li a {
    font-size: 18px;
    font-weight: 400;
    color: #aeadb0;
}

/*section02*/
#section02 {
    position: absolute;
    top:380px;
}
#section02 h3 {
    color: #b1b0b6;
    font-size: 18px;
    padding: 0 30px;
    margin-bottom: 20px;
}
#section02 .sub_menu {
    margin-bottom: 70px;
}
#section02 .sub_menu li {
    position: relative;
    padding: 16px 30px;
    cursor: pointer;
    background-color: #3a383f;
}
#section02 .sub_menu li:hover {
    background-color: #5e5c63;
}
#section02 .sub_menu li .selcet {
    background-color: #5e5c63;
}
#section02 .sub_menu .list2 {
    background-color: #0084fb;
}
#section02 .sub_menu .list3 {
    background-color: #ecb5af;
}
#section02 .sub_menu .list4 {
    background-color: #4a9459;
}
#section02 .sub_menu li a {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}
#section02 .sub_menu li span {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #ff9f2b;
    border-radius: 50%;
    margin-right: 15px;
    line-height: 34px;
    vertical-align: middle;
}
#section02 .sub_menu p {
    position: absolute;
    right: 30px;
    top: 20px;
    font-size: 20px;
    color: #b1b0b6;
}
#section02 .add {
    color: #b6b4bb;
    height: 40px;
    clear:both;
    padding-left: 30px;
    font-size: 20px;
    cursor: pointer;
    line-height: 40px;
}
#section02 .add .axi {
    float: left;
    font-size: 40px;
    margin-right: 20px;
}
#section02 .add:hover {
    color: #fff;
}

/*content*/
#content {
    float: right;
    background-color: #2c2b32;
    border-left: 1px solid #000;
    position: relative;
    display : block;
}
#content #contentWrap1 {
    position: absolute;
    top: 60px;
    left: 30px;
    display: none;
}
#content #contentWrap2 {
    position: absolute;
    top: 60px;
    left: 30px;
    display: block;
}
#content #contentWrap3 {
    position: absolute;
    top: 60px;
    left: 30px;
    display: none;
}
#content #contentWrap3 li {
   text-decoration: line-through;
}
#contentWrap3 .list .checkbtn{
    float: left;
    width: 50px;
    height: 50px;
    background: url("../image/delete.JPG") no-repeat;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    outline: 0;
}

#content #todo_header {
    position: relative;
    margin-bottom: 30px;
}
#content #todo_header h1 {
    font-family: 'Fredoka One', cursive;
    font-size: 42px;
    color: #0084fb;
}
#content #todo_header p {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 42px;
    color: #fff;
}
#content .list .checkbtn{
    float: left;
    width: 50px;
    height: 50px;
    background: url("../image/check2.png") no-repeat;
    border: none;
    text-indent: -9999px;
    cursor: pointer;
    outline: 0;
}
#content .list .checkbtn:hover {
    background-position-y: -50px;
}
#content .list li{
    color: #fff;
    font-size: 18px;
    height:40px;
    line-height: 40px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 0 0 10px 7px;
    margin-bottom: 10px;
    /* background:url("../image/check2.png") no-repeat; */
    background-position-y: 0;
    cursor: pointer;
    position: relative;
}
#content .list li:before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    height: 1px;
    width: 95%;
    border-bottom:1px solid #a09faa;
}
#content .list li:hover {
    color: #ecb5af;
}
#content .list li.selcet {
    color: #ecb5af;
}
#content .addbtn {
    font-family: 'Fredoka One', cursive;
    font-size: 60px;
    color: #a09fa3;
    background-color: #2c2b32;
    border: none;
    text-align: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    outline: 0;
}
#content .m_gnb {
    position: absolute;
    left: 30px;
    top:30px;
    background-color: #2c2b32;
    border:none;
    outline: none;
}
#content .m_gnb img {
    width: 64px;
    height: 47px;
   
}

#contentWrap1 header #todo_header h1 {
    display: block;
}
#contentWrap2 ul .list li{
    display: block;
}

#contentWrap3 ul .list li{
    display: block;
}

label{
    display: none;
}